SUPABASE_URL=https://bsgfaqxokcbrklvswrzp.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJzZ2ZhcXhva2NicmtsdnN3cnpwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk3NDk0OTEsImV4cCI6MjA3NTMyNTQ5MX0.fyOrBhMt9Jr5gBsxdfXwssx9CBCc9fCWTQT5mF80DEM